/* background dwoloaded is subtle pattern */

.threedee-typo {
    font-size: 4em;
    text-transform: uppercase;
    color: #f2395a;
    -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
    transform: skew(-5deg, -5deg) rotate(5deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    text-shadow: 1px 1px #d10e31, 2px 2px #d10e31, 3px 3px #d10e31, 4px 4px #d10e31, 5px 5px #d10e31, 6px 6px #d10e31, 7px 7px #d10e31, 8px 8px #890920, 9px 9px #890920, 10px 10px #890920, 11px 11px 15px rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    background: url(img/papyrus-dark.png);
}

header {
    text-align: center;
    margin-left: 50px;
    margin-top: 0;
}

p {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Lexend Deca', sans-serif;
    margin-left: 15px;
}

input[type=button] {
    padding: 15px 5px 20px 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 200px;
    font-weight: bold;
    margin-top: 40px;
    font-family: 'Lexend Deca', sans-serif;
}

input[type=button]:hover {
    background-color: aqua;
    transition: all 1.5s;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
}

aside {
    padding-top: 30px;
    margin-top: 20px;
}

.creed {
    padding-top: 10px;
    margin-top: 10px;
}

.S {
    font-weight: bold;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    font-size: 20px;
}

.creed_2 {
    padding-top: 20px;
    margin-top: 20px;
}

h3 {
    text-align: center;
    color: white;
    font-size: larger;
}


#B_aside {

    font-weight: bold;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    font-size: 20px;
    position: relative;
    margin-top: 30px;
}


@media(min-width:768px) {
    #end {
        font-size: 25px;
    }
}

#creed {
    color: white;
    font-weight: 600;
}

#creed_1 {
    color: white;
    font-weight: 600;
}

#creed_2 {
    color: white;
    font-weight: 600;
}

#end {
    position: relative;
    background: #ecd300;
    background: -webkit-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    background: -o-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    background: -moz-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    font-size: 1.4rem;
    text-shadow: 0 1px 0 #c3af07;
    color: black;
    border: solid 1px hsl(54, 100%, 20%);
    border-radius: 100%;
    height: 80px;
    width: 90px;
    z-index: 4;
    outline: none;
    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 20%), 0 3px 0 hsl(54, 100%, 18%), 0 4px 0 hsl(54, 100%, 16%), 0 5px 0 hsl(54, 100%, 14%), 0 6px 0 hsl(54, 100%, 12%), 0 7px 0 hsl(54, 100%, 10%), 0 8px 0 hsl(54, 100%, 8%), 0 9px 0 hsl(54, 100%, 6%);
}

#end:hover {
    background: -webkit-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    background: -o-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    background: -moz-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    background: radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
}

#end:active {
    background: -webkit-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    background: -o-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    background: -moz-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    background: radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    top: 2px;
    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 20%), 0 3px 0 hsl(54, 100%, 18%), 0 4px 0 hsl(54, 100%, 16%), 0 5px 0 hsl(54, 100%, 14%), 0 6px 0 hsl(54, 100%, 12%), 0 7px 0 hsl(54, 100%, 10%),
}

#Wybur {
    border-radius: 20px;
}

#Numer {
    border-radius: 20px;
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
}

input[type=number] {
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    width: 190px;
    border-radius: 20px;
}



#Numer {
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
    width: 150px;
    height: 20px;;
    right: 120px;
    top: 20px;
    left: 5px;
    margin-top: 30px;
   
}

@media (max-width:575px){
    .threedee-typo{
        font-size: 2.5em;
    }#P_T{
        font-size: 14px;
        font-weight: bold;
    
    }##B_aside{
        font-size: 10px;
        
    }#Numer{
        left: 20px;
    }
}


@media(min-width:992px) and (max-width:1199px){
    span{
        position: relative;
        left: 5%;
    }#B_aside{
        margin-top: 45px;
    }
}